*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: $bg-color;
  color: $text-color;
}

section {
  padding: 70px 3% 40px;
  @include pc {
    padding: 90px 18%;
  }
}
